.l-container {
  height: 100%;
}

.l-container__navbar-wrapper [aria-label='Market']:empty { display: none; }

@media only screen and (min-width: 1200px) {
  .l-container {
    flex-flow: row wrap;
  }

  .l-container__dashboard {
    padding-right: 181px;
  }

  .l-container__toolbar-tools {
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
  }

  .l-container__logo {
    margin-top: 1.6em;
  }

  .l-container__empty-span:empty {
    flex: 0;
    margin-top: 1em;
  }

  .l-container__navbar-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    justify-content: space-around;
  }

  body > .md-open-menu-container {
    left: 180px !important;
  }

  body > #menu_container_14 {
    top: 0 !important;
    -webkit-transform: translateY(calc(100vh - 390px));
       -moz-transform: translateY(calc(100vh - 390px));
        -ms-transform: translateY(calc(100vh - 390px));
         -o-transform: translateY(calc(100vh - 390px));
            transform: translateY(calc(100vh - 390px));
  }

  body > #menu_container_15.md-active {
    margin-top: -10px;
  }
}